<div id="new-content">
</div>
    
</div>
    <div class="col-sm-12 col-md-4">
    <form id="new-item-form" method="post">
        <label>Task title <input  type="text" id="new-task-name" /></label>
        <label>Task date <input type="date" id="new-task-date" /></label>
        <label>Task Summary <textarea id="new-task-description"></textarea></label>
        <label>Task Body <textarea id="new-task-note"></textarea></label>
        <input type="submit" value="add new task" />
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-md-8">
<a href="/">Link to first page</a>
    </div>
</div>

<div id="error"> </div>

<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>