<!--<section>
    <h1> EVENTS </h1>
    {{#each events}}

    <article class="events">
        <ul>
        <li><h4><a href="/events/{{id}}">{{title}}</a></h4></li>
        </ul>
    </article>
    
    {{/each}}
</section>-->


<section>
    <h1>Events </h1>
    {{#each events}}
    <article class="events">
        <ul>

        <li><h4><a href="/events/{{id}}">{{title}}</a></h4></li>
        </ul>
    </article>
    {{/each}}
</section>